# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so

# Caches/linters/testes
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
coverage.xml
.coverage
.coverage.*
htmlcov/
*.cover

# Empacotamento
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/

# Logs/temporários
*.tmp
*.temp
*.swp
*.log

# Virtual envs
.venv/
venv/
ENV/
.env

# PyInstaller
/build/
/dist/
*.spec.bak
*.manifest
*.toc
*.pyz
*.pkg
*.warn
*.html

# Inno Setup output
/installer/installer_output/

# Inno Setup / instaladores (saídas comuns)
/installer/Output/
/installer/output/
*.exe
*.msi

# VS Code
.vscode/

# OS
Thumbs.db
Desktop.ini
